<div>
	<div class="modal-header">
		<h3 class="modal-title" style="text-align: center">Attach Image</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<button type="button" ng-click="$ctrl.attachUrl()" class="btn btn-info" style="width: 100%"> Upload via url </button>
			<hr>
			<label for="local-path">Browse local image:</label> 
			<input id="local-path" type="file" class="form-control"
				ng-change="imageUploaded()" file-watcher
				ng-model="$ctrl.local">
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-success" type="button"
			ng-disabled="($ctrl.local ==='')"
			ng-click="$ctrl.attach()">Attach</button>
		<button class="btn btn-primary" type="button"
			ng-click="$ctrl.cancel()">Cancel</button>
	</div>
</div>